.translateX {
  position: fixed;
  background-color: #fff !important;
}
.tip-container {
  border-radius: 3px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 12px !important;
  line-height: 20px !important;
  padding: 5px 0 !important;
  max-width: 350px !important;
  min-width: 38px !important;
  min-height: 16px !important;
  display: none;
  z-index: 99999;
  transition-duration: 0.2s;
}
.tip-container p {
  margin: 0 8px !important;
  color: #333 !important;
}
.tip-container .tip-arrow {
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  display: block !important;
  position: absolute !important;
  top: -16px;
  left: 10px;
}
.tip-container .tip-arrow i {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-style: dashed dashed solid;
  border-bottom-color: #d8d8d8;
}
.tip-container .tip-arrow em {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-style: dashed dashed solid;
  border-bottom-color: #fff;
  top: 2px;
}
.hidden {
  display: none;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, 12px, 0);
  }
}
.bouncing-loader {
  display: flex;
  justify-content: center;
  position: absolute;
    top: -5px;
}
.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 8px 2px;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}
.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}
.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}
