html, body {
  margin: 0;
  padding: 0;
}

#app {
  width: 200px;
  font-size: 16px;
  padding: 10px;
}

.label {
  height: 40px;
  line-height: 40px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label {
 position: relative;
 padding-left: 30px;
}

input[type=checkbox]+label:before {
  font-family: FontAwesome;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-47%);
}

input[type=checkbox]+label:before {
  content: "\f096";
}

input[type=checkbox]+label:before {
  letter-spacing: 10px;
}

input[type=checkbox]:checked+label:before {
  content: "\f046";
}

input[type=checkbox]:checked+label:before {
  letter-spacing: 5px;
}